# Dependencies
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# Logs
logs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
*.lcov
.nyc_output

# Misc
.cache/
.parcel-cache/
.npm/
.eslintcache
.node_repl_history
*.tsbuildinfo

# OS files
Thumbs.db
.DS_Store

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Production
client/dist/
server/dist/
